./vuln_range_small.json
out/
save/
out_unzip/
.venv/
python/.env/
vuln_ranges_small.json
.vscode/launch.json
java/.vscode/launch.json
graph/
python/osv_client/__pycache__/
python/osv_client/models/__pycache__/
python/dist/
python/.osv_preprocess.venv/
webapp/**/__pycache__
webapp/**/node_modules
python/**/__pycache__/
.python-version
python/luigi/log/app-2024-08-02.log
python/luigi/log/app.log
webapp/data/mongo/**
python/luigi/outputs_old/
python/luigi/outputs_clean_dataset/
python/log/
python/dependency_tool/submodule_analysis/
${sys:logpath}
python/figures/
java/fr.inria.diverse.swh_osv/src/main/java/fr/inria/diverse/database/data/
data/google_sheet.ini
data/RQ_SECTION_4_ANALYSIS/Metric5.jsonl.zst
data/RQ_SECTION_4_ANALYSIS/Metric5_github.jsonl.zst
data/RQ_SECTION_4_ANALYSIS/origin-metadata.csv.zst
data/RQ_SECTION_4_ANALYSIS/Metric5_criticity.jsonl.zst
data/RQ_SECTION_4_ANALYSIS/Metric5_popularity.jsonl.zst
data/analysis/reposMetadata_final.json
data/TRACKING_SECTION_3_ANALYSIS/reposMetadata_final.json