[scheduler]
retry_count = 0

[MainConfig]
graphPath = /dev/shm/compressed/graph
[core]
logging_conf_file = ./log/logging.conf

#All the other parameters are for configuration's sake, no changes are needed.  
[PackageJarTask]
jarDirectory=outputs/jars
javaProjectPath = ../../java/fr.inria.diverse.swh_osv/
[OsvPreProcess]
vulnRange = outputs/osv_preprocess/vuln_ranges.json
workspaceFolder = outputs/osv_preprocess
[TopoSortTask]
topoSortedNodeListPath = outputs/toposorted_node_list.csv
[CommitToOriginTask]
mainClass = fr.inria.diverse.CommitToOriginTopo
rocksDBPath = outputs/CommitToOrigin/rocksdb
[PreProcessTask]
mainClass = fr.inria.diverse.PreProcess
preProcessResultPath = outputs/PreProcess/preparedRange.bin
vulnRangeTempPath = outputs/PreProcess/.cache/swhVulnRange.temp
#with node ids instead of commit hashes
[RangeAnalysisTask]
mainClass = fr.inria.diverse.analysis.RangeAnalysis
statisticsOutputPath = outputs/RangeAnalysis/processedRangeStatistics.json
[OsvLabelTask]
mainClass = fr.inria.diverse.OsvLabel
osvLabelResultPath = outputs/OsvLabel
[ProvenanceComputeTask]
mainClass = fr.inria.diverse.ProvenanceCompute
vulnerableProvenancePath = outputs/ProvenanceCompute/vulnerableProvenance/
[RangeAnalyzerTask]
mainClass = fr.inria.diverse.RangeAnalyzer
rangeToOriginPath = outputs/RangeAnalyzer/rangeToOrigin.bin
[VulnerableRepoAnalysisTask]
mainClass = fr.inria.diverse.analysis.VulnerableRepoAnalysis
jsonOutputPath = outputs/VulnerableRepoAnalysis/Metric1.json
binOutputPath = outputs/VulnerableRepoAnalysis/Metric1.bin
[VulnerableRevisionAnalysisTask]
mainClass = fr.inria.diverse.analysis.VulnerableRevisionAnalysis
jsonOutputPath = outputs/VulnerableRevisionAnalysis/Metric2.json
binOutputPath = outputs/VulnerableRevisionAnalysis/Metric2.bin
[VulnerableRevisionPerUrlAnalysisTask]
mainClass = fr.inria.diverse.analysis.VulnerableRevisionPerUrlAnalysis
jsonOutputPath = outputs/VulnerableRevisionPerUrlAnalysis/vulnerableRevisionPerUrlAnalysis/
innerListStoringPath = outputs/VulnerableRevisionPerUrlAnalysis/
threadTmpFolder = outputs/VulnerableRevisionPerUrlAnalysis/threadTmpFiles/
[VulnerableUnpatchedAnalysisTask]
mainClass = fr.inria.diverse.analysis.VulnerableUnpatchedAnalysis
jsonOutputPath = outputs/VulnerableUnpatchedAnalysis/Metric5.jsonl
binOutputPath = outputs/VulnerableUnpatchedAnalysis/Metric5.bin